.text-yellow {
  color: #f8c300;
  font-size: 1rem !important;
  font-weight: 400 !important;
}
nav {
  background-color: #d43349;
}
.hero_section {
  background-image: url(./img/banner-backgroud.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.banner_row {
  margin-top: 50px;
}

.banner_row h2 {
  color: #f8c300;
  font-size: 48px;
  font-weight: 700;
}

.banner_row span {
  font-size: 38px;
  font-weight: 300;
}

.btn-pink {
  background-color: #d43349;
}

.passionate_container {
  padding-top: 42px;
  border-bottom: 1px solid #ddd;
}
.passionate_section h2 {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  color: #313131;
  font-weight: 300;
}

.passionate_section h2 span {
  color: #313131;
  font-weight: 700;
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: none;
}

.passionate_section p {
  margin: 0;
  padding: 2px 60px 0;
  font-size: 16px;
  line-height: 26px;
  display: block;
  text-align: center;
  color: #3e3e3e;
}

.passionate_tabs {
  padding-top: 75px;
}
.tab_row {
  padding-bottom: 60px;
}

.work_section {
  padding: 40px 0;
}

.work_section h2 {
  /* margin: 0; */
  font-weight: 300;
  /* padding: 0; */
  text-align: center;
  font-size: 50px;
  /* display: block; */
  color: #313131;
  /* text-transform: capitalize; */
}

.solution_section {
  background-image: url(./img/solution-banner.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  padding-top: 40px;
}

.solution_section h2 {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}

.solution_section h2 span {
  font-weight: 700;
  padding-top: 2px;
  color: #fff;
  display: block;
}

.solution_section h2 p {
  display: block;
  padding-left: 40px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

/* .solution_section h2 p::after {
  position: absolute;
  top: 14px;
  left: 0;
  content: "";
  width: 47%;
  background-color: #fff;
  height: 1px;
} */

.solution_content {
  margin: 0 0 40px;
  padding: 0 60px 0 0;
  color: #fff;
  font-size: 16px;
  display: block;
  line-height: 30px;
}

.blog_section {
  padding: 40px 0;
}

.blog_section h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 37px;
  display: block;
  color: #313131;
}

.blog_section h2 strong {
  font-size: 62px;
  line-height: 62px;
  display: block;
  text-transform: capitalize;
  color: #313131;
  font-weight: 700;
}

.blog_section h2 span {
  display: block;
  padding-top: 15px;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 600;
}

.blog_section p {
  margin: 12px 0 40px;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #3e3e3e;
}
#main-footer {
  background-color: #d43349;
}
@media (max-width: 480px) {
  .hero_section {
    height: 100% !important;
  }
  .footer_container {
    justify-content: center !important;
  }
}
